.emoji__main{
    background: #EDEEF3;
    height: 100%;
}

.emoji__content{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    
}

.emoji__article{
    max-width: 316px;
    width: 100%;
    height: 184px;
    padding: 24px;
    background: #FFF;
    

}

.emoji__smile{
    text-align: center;

}

.emoji__titleArticle{
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    text-decoration-line: underline;
    text-align: center;
    margin-top: 18px;
}

.emoji__description{
    color: #3F444A;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}